.layout-footer {
    background-color: $contentBgColor;

    .layout-footer-action {
        &.ui-button {
            &.ui-button-icon-only {
                width: 2.75rem;
                padding: 0.643rem;

                .ui-icon {
                    font-size: 1.5rem;
                    margin-top: -0.75rem;
                    margin-left: -0.75rem;
                }
            }
        }
    }
}
