@use 'sass:color';

$primaryColor:#9FA8DA;
$primaryLightestColor: #E8EAF6;
$primaryDarkColor: #212121;
$primaryTextColor:#121212;
$accentColor:#F48FB1;
$accentTextColor:#121212;

@import '../layout/styles/theme/theme-dark/_theme';
