@use 'sass:color';

$primaryColor:#3F51B5;
$primaryLightestColor: #E8EAF6;
$primaryDarkColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff4081;
$accentTextColor:#ffffff;

@import '../layout/styles/theme/theme-light/_theme';
