@use 'sass:color';

$primaryColor:#009688;
$primaryLightestColor: #E0F2F1;
$primaryDarkColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#96000f;
$accentTextColor:#ffffff;

@import '../layout/styles/theme/theme-light/_theme';
