@use 'sass:color';

$primaryColor:#795548;
$primaryLightestColor: #EFEBE9;
$primaryDarkColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#486c79;
$accentTextColor:#ffffff;

@import '../layout/styles/theme/theme-light/_theme';
