.pages-body {
    &.accessdenied-page {
        background: url("\#{resource['demo:images/pages/401.svg']}");
        background-size: cover;

        .pages-panel {
            .pages-header {
                background: #FB8C00;
            }
        }
    }
}